.headinglist{
    width: 100% !important;
    padding: 80px;
    background: #262626 !important;

}

.section-title {
    font-size: 40px;
    font-weight: 900; }
    @media (max-width: 991.98px) {
        .section-title {
        font-size: 30px; 
    } 
}

.section-sub-title {
    font-size: 13px;
    color: #007bff;
    letter-spacing: .2em;
    text-transform: uppercase; 
}

.text-dark-new{
    color: #6c757c!important;
}

.searchthings{
    width: 50%;
    margin: auto;
    padding-top: 20px;
}

.searchthings input{
    background: #22243a;
    color: #616081;
    border: none;
}

.searchthings input:focus{
    background: #2e3148;
    color: #f2f2f2;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}





/* Bawah */
.kertas{
    margin-bottom: 10%;
    margin-right: 10%;
}

.card{
    max-width: 100% ;
    margin-left: 70px ;
    border: solid 5px #262626 !important;;
}

.margin-tombol{
    margin-bottom: 30px;
    margin-left: 70px ;
       
}
.tbl{
    text-transform: uppercase;
    font-size: 14px;
	border-radius: 10px;
	background: #32a8cf;
    border: 0;
    width: 30%;
}
.card-title{
    font-weight: bold;
    font-size: 22px;
}

.card-text{
    font-size: 13px;
}

.inner{
    overflow: hidden;
    max-width: 350px ;
    max-height: 200px;
}

.inner img{
    transition : all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.tulisan{
    margin-top: -0.5rem;
    
}
.tulisan .wrote{
    margin-top: -1rem;
    
}
.tulisan p{
    font-size: 0.9rem;
}
.tombol{
    text-transform: uppercase;
    font-size: 13px;
	border-radius: 10px;
	background: #262626 !important;
    border: 0;
    width: 50%;
    
}
.tombol:hover{
    background: #333333 !important;  
}

.ktgr p{
    font-size: 14px;
}




@media (min-width: 992px){
    .tbl{
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 10px;
        background: #32a8cf;
        border: 0;
        width: 20%;
    }

    .searchthings{
        width: 25%;
        margin: auto;
        padding-top: 20px;
    }

    .kertas{
        margin-bottom: 10%;
        margin-right: 10%;
        
    }
    
    .card{
        max-width: 100% ;
        margin-left: 0;
        margin-right: 0;
    }
    
    .inner{
        overflow: hidden;
        max-width: 350px ;
        max-height: 200px;
    }
    
    .inner img{
        transition : all 1.5s ease;
    }
    
    .inner:hover img{
        transform: scale(1.5);
    }
    
    .tulisan{
        margin-top: -0.5rem;
        
    }
    .tulisan .wrote{
        margin-top: -1rem;
        
    }
    .tulisan p{
        font-size: 0.9rem;
    }

}

@media (max-width: 500px){
    .sm{
        max-width: 100% !important;
        text-align: justify !important;
      }

      .searchthings{
          width: 100% !important;
          margin-left: 0 !important;
         
      }

      .headinglist{
        max-width: 100% !important;
       
      }
    
      .card{
        width: 80% !important;
        margin-left: 35px !important;
      }
      .tombol{
        width: 100px !important;
        height: 25px !important;
    }
    
    }


