/*Gallery CSS*/


.card-body p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.card-body h6{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: .2em;
    line-height: 20px;
    font-weight: bold;
  
}

.inner img{
	margin-top: -10px !important;
}
.inner{
	overflow: hidden;
	object-position: center;
	max-width: 400px ;
	max-height: 200px;
  }

.gallery-block{
	padding-bottom:60px;
	padding-top:60px;
}
.gallery-block .heading h2{
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
} 

.gallery-block.cardsgallery h6{
	font-size: 17px;
	font-weight: bold;
}

.gallery-block.cards-gallery .card{
	transition: 0.4s easy;
}

.gallery-block.cards-gallery .card img{
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15); 
}

.gallery-block.cards-gallery .card-body{
	text-align: center;
}

.gallery-block.cards-gallery .card-body p{
	font-size: 15px;
}

.gallery-block.cards-gallery a{
	color: #212529;
}

.gallery-block.cards-gallery a:hover {
	text-decoration: none;
}

.gallery-block.cards-gallery .card{
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
		transform: translateY(-10px) scale(1.02);
		box-shadow: 0px 10px 10px rgba(0,0,0,0.15) !important;
		transition: 0.3s;
	}
}

@media (max-width: 768px) {

	.card{
		width: 400px !important;
		margin-left: 40px !important;
	
	}
}

@media (max-width: 500px) {

	.card{
		width: 90% !important;
		margin-left: 20px !important;
		
	
	}

	.sm{
		max-width: 100% !important;
		text-align: center !important;
	  }
}


