



.tulisan{
    margin-top: -0.5rem;
    
}
.tulisan .wrote{
    margin-top: -1rem;
    
}
.tulisan p{
    font-size: 0.9rem !important;
}
.tombol{
    text-transform: uppercase;
    font-size: 13px;
	border-radius: 10px;
	background: #32a8cf;
    border: 0;
    width: 100%;
   

}


@media (min-width: 992px){

    
    
    .tulisan{
        margin-top: -0.5rem;
        
    }
    .tulisan .wrote{
        margin-top: -1rem;
        
    }
    .tulisan p{
        font-size: 0.9rem;
    }
    .tombol{
        text-transform: uppercase;
        font-size: 13px;
        border-radius: 10px;
        background: #32a8cf;
        border: 0;
        width: 100%;
       
    
    }

    
}


