.navbar{
    
    background: #262626 !important;
    padding: 10px;
}

.dropdown-menu{
    background: #262626 !important;
}

.navbar-brand img{
    height: 70px;
    width: 70px;
}

.nav-link{
    color: white !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1rem;
    transition: all 3s ease-in;
}

@media (min-width: 992px){

    .nav-link-a:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .dropdown-menu a:hover {
        background-color: transparent !important;
    }

    
}