.tombol{
    text-transform: uppercase;
    font-size: 13px;
	border-radius: 10px;
	background: #262626 !important;
    border: 0;
    width: 50%;
    
}
.tombol:hover{
    background: #333333 !important;  
}