.color-bwa{
    background: #262626 !important;
}

.section-title {
    font-size: 40px;
    font-weight: 900; 
}
@media (max-width: 991.98px) {
    .section-title {
    font-size: 30px; 
    } 
}

.section-sub-title {
    font-size: 15px;
    letter-spacing: .2em;
    text-transform: uppercase; 
}

.gsrbwh{
    margin-bottom: -100px !important;
}


